name: Build DIDComm Book using MkDocs

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
env:
  MKDOCS_VERSION: 1.4.3

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build and Deploy Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Main
        uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs==${{ env.MKDOCS_VERSION }} mkdocs-windmill

      - name: Deploy
        run: |
          git pull
          mkdocs gh-deploy
